@import "tailwindcss";

:root {
  --background: #0f0c29;
  --foreground: #ededed;
  --primary: #9d4edd;
  --secondary: #240046;
  --accent: #e0aaff;
}

body {
  color: var(--foreground);
  background: linear-gradient(135deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
